.photo{
   
    width: 130px; /* Задає ширину зображення */
    height: auto; /* Автоматично змінює висоту відповідно до пропорцій */
    transform: translate(1250px, 20px); /* Зміщує зображення (50px праворуч і 30px вгору) */
    border-radius: 100px; /* Закруглення кутів (змінюйте значення для більшого округлення)*/
}

.Gz1st-text{
    position: absolute;
    top: 162px;   /* Відступ від верхнього краю контейнера */
    left: 1314px; /* Відступ від лівого краю контейнера */
}

.text{
    position: absolute;
    top: 20px;   /* Відступ від верхнього краю контейнера */
    left: 50px; /* Відступ від лівого краю контейнера */
}
.Звіти-з-лабораторних-робіт{
    font-size: 40px; /* Розмір шрифту для заголовка h1 */
}

.photo_bmw{
    width:  400px;                     /* Розмір зображення */
    height: auto;                     /* Автоматична висота, зберігає пропорції */
    border-radius: 20px;              /* Округлість зображення */
    margin-bottom: 5px;  
}

.foto_golovnoi_st{
    width: 800px; /* Задає ширину зображення */
}


.screen{
    width: 1000px;
    height: auto;
}