.photo{
   
    width: 160px; /* Задає ширину зображення */
    height: auto; /* Автоматично змінює висоту відповідно до пропорцій */
    transform: translate(1250px, 20px); /* Зміщує зображення (50px праворуч і 30px вгору) */
    border-radius: 20px; /* Закруглення кутів (змінюйте значення для більшого округлення)*/
}

.text{
    position: absolute;
    top: 20px;   /* Відступ від верхнього краю контейнера */
    left: 50px; /* Відступ від лівого краю контейнера */
}
.Звіти-з-лабораторних-робіт{
    font-size: 40px; /* Розмір шрифту для заголовка h1 */
}